<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Cooperativas de Reciclagem</title>
    <link rel="stylesheet" type="text/css" href="styles/cadastro.css" />

</head>

<body>
        <div class="cadastro-form">
            <form onSubmit={submit}>
              <div class="container-cadastro">
                <h3 class='titulo'>Cadastro Cooperativas</h3>
              <label>Nome </label><br/>
                <input class='input-texto' 
                type="text" name="nome" id="nome" maxlength="50" required 
                />    
              </div>
              <div class="container-cadastro">
                <label>Endereço </label><br/>
                <input class='input-texto' 
                type="text" name="endereco" maxlength="70" required 
                /> 
              </div>
              <div class="container-cadastro">
                <label>Início das operações </label><br/>
                <input class='input-texto' 
                type="text" name="dataInicio" maxlength="20" required 
                /> 
              </div>
              <div class="container-cadastro">
                <label>Quantidade colaboradores </label><br/>
                <input class='input-texto' 
                type="text" name="qtdColaboradores" maxlength="20" required 
                /> 
              </div>
              <div class="container-cadastro">
                <label>Quantidade rejeitos </label><br/>
                <input class='input-texto' 
                type="text" name="qtdRejeitos" maxlength="20" required 
                /> 
              </div>
              <div class="container-cadastro">
                <label>Quantidade triagem </label><br/>
                <input class='input-texto' 
                type="text" name="qtdTriagem" maxlength="20" required 
                /> 
              </div>
              <div class="container-cadastro">
                <label>Foto </label><br/>
                <input class='input-texto' type="file" name="foto" required 
                /> 
              </div>
              <div class="botao-container">
                <input class='input-texto' type="submit" />
              </div>
            </form>
          </div>
</body>

</html>