<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <title>ERROR!</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="icon" type="image/ico" href="images/erro.png"/>

</head>

<body>
        <img src="images/erro.png" width="5%">        
        <h1>Ops, corrija o erro para continuar!</h1>
        <div>
            <p class="card-text">
                <%= error.message%>       
            </p>
        </div>
</body>

</html>