<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Cooperativas de Reciclagem</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />

</head>

<body>
    <div class="container">
        <h1>COOPERATIVAS DE CAMPINAS</h1>
    </div>
</body>

</html>