<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Cooperativas de Reciclagem</title>
    <link rel="stylesheet" type="text/css" href="styles/login.css" />

</head>

<body>
        <div class="login-form">
            <form onSubmit={submit}>
                <div class="input-container">
                    <label>Usuário </label>
                    <input class='input-text' type="text" 
                    name="email" id="email" required 
                    />        
                  </div>
      
                  <div class="input-container">
                    <label>Senha </label>
                    <input class='input-text' type="password" 
                    name="senha" id="senha" required 
                    />
                  </div>
                  <div class="button-container">
                    <input type="submit" />
                  </div>
            </form>
          </div>
</body>

</html>